<section>
  <h2>Products</h2>
  <ul class="list-unstyled list-inline">
    <li *ngFor="let product of storeProducts">
      <h3>{{ product.name }}</h3>
      <p>Price = £{{ product.price  | number : '1.2-2' }}</p>
      <button (click)="addToBasket(product)" class="btn btn-primary">Add to basket</button>
    </li>
  </ul>
</section>
<section>
  <h2>Offers</h2>
  <ul class="list-unstyled list-inline">
    <li *ngFor="let discount of storeDiscounts">
      <h4>{{ discount.description }}</h4>
    </li>
  </ul>
</section>
