<section>
  <h3>Basket</h3>
  <p *ngIf="!basketProducts">Your basket is empty</p>
  <article *ngIf="basketProducts">
    <ul class="list-unstyled">
      <li *ngFor="let product of basketProducts">
        <p>
          {{ product.name }} -
          <span *ngIf="!product.discountPrice"> £{{ product.price | number : '1.2-2' }}</span>
          <span *ngIf="product.discountPrice"> <s class="text-danger">£{{ product.price | number : '1.2-2' }}</s> £{{ product.discountPrice | number : '1.2-2' }}</span>
        </p>
      </li>
    </ul>
    <h5>Shipping cost = £{{ basketShippingCost | number : '1.2-2' }}</h5>
    <h4>Total = £{{ basketTotal | number : '1.2-2' }}</h4>
  </article>
</section>
